*.swp
vim/.netrwhist
i3/config.vanilla
*/__pycache__
*.pyc
*.swp
.vim/.netwhist

config/*
!config/dunst
!config/gsimplecal
!config/gtk-2.0
!config/gtk-3.0
!config/termite
!config/wallpapers

!config/htop
!config/htop/htoprc

!config/i3
!config/i3/config
!config/i3lock
!config/i3blocks
!config/i3blocks/config
config/user-dirs.dirs
config/user-dirs.locale

!config/i3lock
!config/termite
!config/wallpapers

weechat/*
!weechat/weechatconf
!weechat/pluginsconf
!weechat/perl/beep.pl

config/sublime-text-3/*
config/sublime-text-3/Cache/*
config/sublime-text-3/Index/*
config/sublime-text-3/Installed\ Packages/*
config/sublime-text-3/Local/*
!config/sublime-text-3/Packages/User/*.*-settings

config/chromium/*
config/google-chrome/*
config/menus/*

      

